<div class="row">
  <div class="col genres">
    <h2>Guitar Heroes</h2>
    <img
      src="https://images.pexels.com/photos/2299658/pexels-photo-2299658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
      width="300"
      [routerLink]="['/guessthatsong/guitar_heroes']"
    />
    <br />
  </div>

  <div class="col genres">
    <h2>Pop</h2>
    <img
      src="https://images.pexels.com/photos/675960/mic-music-sound-singer-675960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
      width="300"
      [routerLink]="['/guessthatsong/pop']"
    />
    <br />
  </div>
</div>
