<div class="d-flex justify-content-around mt-5">
  <div class="genres">
    <img
      src="https://images.pexels.com/photos/2299658/pexels-photo-2299658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
      width="200"
      [routerLink]="['/guitar_heroes']"
    />
    <br />
    <h2>Guitar Heroes</h2>
  </div>

  <div class="genres">
    <img
      src="https://images.pexels.com/photos/675960/mic-music-sound-singer-675960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
      width="200"
      [routerLink]="['/pop']"
    />
    <br />
    <h2>Pop</h2>
  </div>
</div>
