<div class="mt-5">
  <h3>🥳 Congratulations 🎊</h3>
  <div class="card mt-4 mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://images.pexels.com/photos/772478/pexels-photo-772478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          class="card-img"
          alt="image not available"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Well done <span>{{ username }}!</span>
          </h5>
          <p class="card-text">
            For playing <code>{{ genre }}</code
            >,
            <br />
            you score a total of <code>{{ score }}/6</code> points which is
            <code>{{ percentage }}%</code>.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- http://localhost:4200/score?genre=guitar_heroes&user_id=4&username=fred123&score=1 -->
